<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="DmFramework.CommonEntity.AppDirs" value="Admin,XCMS"/>
    <!--过滤文件-->
    <add key="DmFramework.CommonEntity.AppDirsFileFilter" value="Login.aspx,Main.aspx"/>
    <!--是否在子目中过滤-->
    <add key="DmFramework.CommonEntity.AppDirsIsAllDirs" value="false"/>
    <!--是否压缩ViewState-->
    <add key="DmFramework.CommonEntity.CompressViewState" value="true"/>
    <!--Web配置-->
    <!--CompressionModule模版压缩的文件，逗号隔开-->
    <add key="DmFramework.CommonEntity.CompressFiles" value=".aspx,.axd.,js"/>
    <!--SCM配置-->
    <!--是否写实体日志，默认启用。对实体操作向日志表写操作日志-->
    <add key="DmFramework.SCM.WriteEntityLog" value="true"/>
    <!--附件保存路径-->
    <add key="DmFramework.Attachment.Path" value="FileAttachment\"/>
    <!--附件保存格式 默认yyyy\\MMdd-->
    <add key="DmFramework.Attachment.Format" value="yyyy\\MMdd"/>
    <!--选中项背景颜色-->
    <add key="DmFramework.WebControls.GridViewExtender.SelectedRowBackColor" value="Pink"/>
  </appSettings>
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="DmFramework.WebControls.v1.4" namespace="DmFramework.WebControls" tagPrefix="XCL"/>
        <add src="~/Control/LeftMenu.ascx" tagName="LeftMenu" tagPrefix="Custom"/>
        <add src="~/Control/HeaderTool.ascx" tagName="HeaderTool" tagPrefix="Custom"/>
        <add src="~/COntrol/OpenForm.ascx" tagName="OpenForm" tagPrefix="Custom"/>
      </controls>
    </pages>
    <httpRuntime maxRequestLength="409600"/>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="On"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>
</configuration>