<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <CustomItems>
    <ConfigCustomItem>
      <Name>Debug</Name>
      <Value>Path=..\Log\;BakPath=Log\Debug_Bak\;AllowLogAction=Write|Info|Error|Warn|SQL</Value>
      <Name>DebugBak</Name>
      <Value>Path=..\Log\;BakPath=Log\Debug_Bak\;AllowLogAction=Write|Info|Error|Warn|SQL</Value>
    </ConfigCustomItem>
  </CustomItems>
  <BackupFileSize />
  <ClearHour>5 d</ClearHour>
  <TimedLog>2</TimedLog>
  <LogFileName />
  <ThinkTime>5000</ThinkTime>
  <IsMutex>false</IsMutex>
  <MutexName>LogMutex4Hm</MutexName>
  <SecurityMemNumber>0</SecurityMemNumber>
</configuration>