<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ORMSettings>
    <IsORMDebug>false</IsORMDebug>
    <IsORMShowSQL>false</IsORMShowSQL>
    <TraceSQLTime>0</TraceSQLTime>
    <IsORMCacheDebug>false</IsORMCacheDebug>
    <IsORMRemoting>false</IsORMRemoting>
    <IsEntityDebug>true</IsEntityDebug>
    <CacheExpiration>-2</CacheExpiration>
    <CacheCheckPeriod>5</CacheCheckPeriod>
    <NegativeEnable>false</NegativeEnable>
    <NegativeCheckOnly>false</NegativeCheckOnly>
    <NegativeNoDelete>false</NegativeNoDelete>
    <NegativeExclude />
    <ConnMaps />
    <OracleIsUseOwner>false</OracleIsUseOwner>
    <OracleIgnoreCase>true</OracleIgnoreCase>
    <OracleDllPath>C:\Oracle</OracleDllPath>
    <IsCodeDebug>false</IsCodeDebug>
    <IsModelUseID>true</IsModelUseID>
    <IsModelAutoCutPrefix>true</IsModelAutoCutPrefix>
    <IsModelAutoCutTableName>true</IsModelAutoCutTableName>
    <IsModelAutoFixWord>true</IsModelAutoFixWord>
    <ModelFilterPrefixs>tbl,table</ModelFilterPrefixs>
    <SpriteDefaultConnName>Custom</SpriteDefaultConnName>
    <SpriteDefaultNameSpace>DmFramework.Data.Custom</SpriteDefaultNameSpace>
  </ORMSettings>
</configuration>