<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <CustomItems>
    <ConfigCustomItem>
      <Name>Debug</Name>
      <Value>Path=Log\Debug\;BakPath=Log\Debug_Bak\;AllowLogAction=Write|Info|Error|Warn|SQL</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Management</Name>
      <Value>Path=Log\Management\;BakPath=Log\Management_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Mis</Name>
      <Value>Path=Log\Mis\;BakPath=Log\Mis_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>IM</Name>
      <Value>Path=Log\Im\;BakPath=Log\Im_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>File</Name>
      <Value>Path=Log\File\;BakPath=Log\File_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Smtp</Name>
      <Value>Path=Log\Smtp\;BakPath=Log\Smtp_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Pop3</Name>
      <Value>Path=Log\Pop\;BakPath=Log\Pop_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Imap</Name>
      <Value>Path=Log\Imap\;BakPath=Log\Imap_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Relay</Name>
      <Value>Path=Log\Relay\;BakPath=Log\Relay_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Fetch</Name>
      <Value>Path=Log\Fetch\;BakPath=Log\Fetch_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
    <ConfigCustomItem>
      <Name>Sip</Name>
      <Value>Path=Log\Sip\;BakPath=Log\Sip_Bak\;AllowLogAction=Write</Value>
    </ConfigCustomItem>
  </CustomItems>
  <BackupFileSize />
  <ClearHour>30 d</ClearHour>
  <TimedLog>1</TimedLog>
  <LogFileName />
  <ThinkTime>5000</ThinkTime>
  <IsMutex>false</IsMutex>
  <MutexName>LogMutex4Hm</MutexName>
  <SecurityMemNumber>0</SecurityMemNumber>
</configuration>